@use './mixins';
@use './typography';

$primary-color1: #323232;
$primary-color2: #AFAFAF;
$primary-color3: #FFFFFF;

$secondary-color1: #000000;
$secondary-color2: #E1E1E1;
$secondary-color3: #FAFAFA;