@use './typography';
@use './variables';

// Font mixins mobile
@mixin mobile-header {
    font-family: 'avenir-bold';
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

@mixin mobile-headersub {
    font-family: 'avenir-demi';
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
}

@mixin mobile-text {
    font-family: 'avenir-regular';
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: normal;
}

// Font mixins desktop and tablet
@mixin desk-tab-pgheader {
    font-family: 'avenir-bold';
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: bold;
}

@mixin desk-tab-secheader {
    font-family: 'avenir-bold';
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}

@mixin desk-tab-subheader {
    font-family: 'avenir-demi';
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin desk-tab-body {
    font-family: 'avenir-regular';
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin desk-tab-footer {
    font-family: 'avenir-regular';
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

@mixin desk-tab-labelsbtn {
    font-family: 'avenir-bold';
    font-size: 0.75em;
    line-height: 2.75rem;
    font-weight: 700;
}

// Screen mixins
@mixin tablet {
    @media screen and (min-width: variables.$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: variables.$desktop-breakpoint) {
        @content;
    }
}

// Inactive links
@mixin inactive-link {
    font-family: 'avenir-regular';
    font-size: 0.801rem;
    line-height: 2rem;
}

// Background Opacity 
@mixin background-opacity {
    background-color: rgba(50, 50, 50, 0.5);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
