@font-face {
  font-family: "AvenirNext";
  src: url("../assets/font/woff/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/font/woff/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next LT Pro Demi"), local("AvenirNextLTPro-Demi"), url("../assets/font/woff/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/woff/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext";
  src: local("Avenir Next LT Pro Bold"), local("AvenirNextLTPro-Bold"), url("../assets/font/woff/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/woff/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2.25rem;
  margin: 4rem 0rem;
}
@media screen and (max-width: 767px) {
  .cartContainer {
    padding: 0rem 1rem;
  }
}
.cartContainer > div {
  background-color: #FAFAFA;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
@media screen and (min-width: 1280px) {
  .cartContainer > div {
    width: 50rem;
  }
}
.cartContainer__header {
  font-family: "AvenirNext";
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .cartContainer__header {
    font-family: "AvenirNext";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
}
.cartContainer__subheader {
  font-family: "AvenirNext";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 0%;
  border-bottom: 1px solid #AFAFAF;
}
@media screen and (max-width: 767px) {
  .cartContainer__subheader {
    font-family: "AvenirNext";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
.cartContainer__para {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  border-bottom: 1px solid #AFAFAF;
}
.cart__item > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart__item--details {
  font-family: "AvenirNext";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #AFAFAF;
}
@media screen and (max-width: 767px) {
  .cart__item--details {
    font-family: "AvenirNext";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
.cart__item--date {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  font-weight: bold;
}
.cart__item--text {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #000000;
}

.cart__modifier--text {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6%;
}
@media screen and (max-width: 767px) {
  .cart__modifier--text {
    font-family: "AvenirNext";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: normal;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
.cart__modifier--buttons {
  display: flex;
  justify-content: space-between;
}
.cart__modifier--buttons button {
  font-family: "AvenirNext";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: normal;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #323232;
}
@media screen and (max-width: 767px) {
  .cart__modifier--buttons button {
    height: -moz-fit-content;
    height: fit-content;
    padding: 3% 12%;
  }
}
.cart__modifier--buttons button:last-child {
  padding: 0.4rem 0.9rem;
}
@media screen and (max-width: 767px) {
  .cart__modifier--buttons button:last-child {
    padding: 3% 15%;
  }
}
.cart__modifier--buttons button:hover {
  cursor: pointer;
  background-color: #323232;
  color: #FFFFFF;
}

.cart__subtotal {
  font-family: "AvenirNext";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin: 3% 0% 1%;
  text-align: end;
}

.element--hidden {
  display: none;
}/*# sourceMappingURL=checkout.css.map */