@use './partials/colors' as *;
@use './partials/typography' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// Styling to make footer stay at bottom
// body {
//     position: relative;
//     min-height: 100vh;
// }

// .checkout--positioning {
//     position: absolute;
//     bottom: 0%;
//     width: 100%;
// }

.cartContainer {
    padding: 0rem 2.25rem;
    margin: 2rem 0rem;
    height: 15rem;

    & > div {
        background-color: $secondary-color3;
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 1rem;
    }

    &__header {
        @include desk-tab-secheader;
    }

    &__subheader {
        @include desk-tab-subheader;
        padding: 1rem;
        margin: 0%;
        border-bottom: 1px solid $primary-color2;
    }

    &__para {
        @include desk-tab-body;
    }
}